# Git ile takip edilmeyecekler
.git
.gitignore

# Ortam dosyaları
.env
.env.local

# Python cache
__pycache__/
*.pyc

# Test çıktıları
htmlcov/
.coverage

# Local veritabanı veya yedekler
db.sqlite3
backups/

# IDE & OS dosyaları
.vscode/
.DS_Store
